<section id="services" class="my-8 flex flex-col items-center p-8 xl:px-24 ">

    <!-- Title that will change dynamically -->
    <h2 id="carousel-title" class="text-xl sm:text-2xl lg:text-3xl font-extrabold mb-5 text-center text-indigo-800 md:max-w-md mt-9 md:mt-10 ">
        Web Systems Development and Designing
    </h2>
    
    <!-- Carousel Container -->
    <div class="relative w-full max-w-4xl mx-auto overflow-hidden">
        <!-- Carousel items -->
        <div id="carousel-items" class="flex transition-transform duration-500 pointer-events-none">
            <!-- Item 1: Web Systems Development -->
            <div class="w-full flex-shrink-0 text-center p-4">
                <iframe src="{{ url_for('static', filename='img/carousel/service_1.html') }}" class="embedded-frame mb-4"></iframe>
            </div>

            <!-- Item 2: Computer System Support -->
            <div class="w-full flex-shrink-0 text-center p-4">
                <iframe src="{{ url_for('static', filename='img/carousel/service_2.html') }}" class="embedded-frame mb-4"></iframe>
            </div>

            <!-- Item 3: Network Support and Management -->
            <div class="w-full flex-shrink-0 text-center p-4">
                <iframe src="{{ url_for('static', filename='img/carousel/service_3.html') }}" class="embedded-frame mb-4"></iframe>
            </div>
        </div>
        
        <!-- Left Button -->
        <button id="prev" class="absolute top-1/2 left-0 transform -translate-y-1/2 text-black text-6xl font-bold p-8 hover:text-indigo-600 focus:outline-none transition-colors duration-300 z-10 pointer-events-auto">
            &#60;
        </button>

        <!-- Right Button -->
        <button id="next" class="absolute top-1/2 right-0 transform -translate-y-1/2 text-black text-6xl font-bold p-8 hover:text-indigo-600 focus:outline-none transition-colors duration-300 z-10 pointer-events-auto">
            &#62;
        </button>

    </div>

    <!-- Description that will change dynamically -->
    <p id="carousel-description" class="text-base lg:text-lg mt-6 text-center text-gray-700 max-w-2xl mx-auto leading-7">
        BYTEMAGUS CO. creates custom web systems with a focus on responsive design, ensuring optimal performance across devices. They emphasize aesthetic appeal, functionality, rigorous testing, SEO optimization, and seamless integration with business tools. Services include content management systems, e-commerce platforms, and custom web applications.
    </p>
    
</section>
